<div class="login">
  <div>
    <input [(ngModel)]="user.username" type="text" placeholder="Username">
  </div>
  <div>
    <input [(ngModel)]="user.password" type="password" placeholder="Password">
  </div>
  <button (click)="login()">Login</button>
</div>
