.login {
  width:400px;
  height: 100px;
  border: 3px solid salmon;
  text-align: center;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 50px);
  padding-top:30px;
  background: white;
}
