<ul>
  <li *ngFor="let game of games; let i = index;" [ngClass]="{'item': game.id==2}">
    {{game.rating}} {{game.name}}
    <app-rating [game]="game">
    </app-rating>
  </li>
</ul>

Last changed: {{_game.selectedGame.name}}
