ul {
  padding: 0px;
  margin: 0px;

  li {
    width: 350px;
    height: 250px;
    float: left;
    font-size: 70px;
    list-style: none;
    border: 3px solid red;
    text-align: center;
    box-sizing: border-box;
    position: relative;

    input {
      width: 50%;
      float: left;
      border: none;
      border-bottom: 3px solid black;
      box-sizing: border-box;
      margin-bottom: 20px;

      &:focus {
        border-bottom: 3px solid red;
      }
    }

    .left {
      position: absolute;
      left: 10px;
      bottom: 10px;
    }

    .right {
      position: absolute;
      right:10px;
      bottom: 10px;
    }
  }
}
